In [2]:
import pandas as pd

In [3]:
equipos = pd.read_csv("./enunciado_tablas/enunciado_equipos.csv")
jugadores_atributos = pd.read_csv("./enunciado_tablas/enunciado_jugadores_atributos.csv")
jugadores = pd.read_csv("./enunciado_tablas/enunciado_jugadores.csv")
liga = pd.read_csv("./enunciado_tablas/enunciado_liga.csv")
paises = pd.read_csv("./enunciado_tablas/enunciado_paises.csv")
partidos = pd.read_csv("./enunciado_tablas/enunciado_partidos.csv")

In [11]:
#Â¿Tiene NaN los Ids dados?

nana = jugadores_atributos["player_api_id"].isna().sum()
print(nana)

0

In [10]:
nana = jugadores["player_api_id"].isna().sum()
print(nana)

0

In [19]:
print(equipos["team_api_id"].isna().sum())

0

In [23]:
liga.info()
print(liga["country_id"].isna().sum())
# print(paises["country_id"].isna().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   country_code  11 non-null     object
 1   name          11 non-null     object
 2   country_id    11 non-null     int64
dtypes: int64(1), object(2)
memory usage: 396.0+ bytes
0

In [24]:
paises.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   country_code  11 non-null     object
 1   name          11 non-null     object
 2   id            11 non-null     int64
dtypes: int64(1), object(2)
memory usage: 396.0+ bytes