In [1]:
import seaborn as sb
import pandas as pd
import numpy as np

In [2]:
equipos = pd.read_csv("./enunciado_tablas/enunciado_equipos.csv")
jugadores_atributos = pd.read_csv("./enunciado_tablas/enunciado_jugadores_atributos.csv")
jugadores = pd.read_csv("./enunciado_tablas/enunciado_jugadores.csv")
liga = pd.read_csv("./enunciado_tablas/enunciado_liga.csv")
paises = pd.read_csv("./enunciado_tablas/enunciado_paises.csv")
partidos = pd.read_csv("./enunciado_tablas/enunciado_partidos.csv")

In [3]:
notNan = partidos[pd.notna(partidos["home_player_1"]) == True]
notNan["home_player_1"].head()

144    39890.0
145    38327.0
146    95597.0
148    30934.0
149    37990.0
Name: home_player_1, dtype: float64

# Sobre el Potencial
'Potential' se refiere al potencial del jugador

In [4]:
jugadores_atributos["potential"].head()

0    71.0
1    71.0
2    66.0
3    65.0
4    65.0
Name: potential, dtype: float64

'shot_power' se refiere a la potencia de tiro.

In [5]:
jugadores_atributos["shot_power"].head()

0    55.0
1    55.0
2    55.0
3    54.0
4    54.0
Name: shot_power, dtype: float64

# Observación sobre los goles por jugador

In [6]:

sinNan = partidos.dropna()
print(sinNan.iloc[0]["goal"])

<goal><value><comment>n</comment><stats><goals>1</goals><shoton>1</shoton></stats><event_incident_typefk>406</event_incident_typefk><elapsed>22</elapsed><player2>38807</player2><subtype>header</subtype><player1>37799</player1><sortorder>5</sortorder><team>10261</team><id>378998</id><n>295</n><type>goal</type><goal_type>n</goal_type></value><value><comment>n</comment><stats><goals>1</goals><shoton>1</shoton></stats><event_incident_typefk>393</event_incident_typefk><elapsed>24</elapsed><player2>24154</player2><subtype>shot</subtype><player1>24148</player1><sortorder>4</sortorder><team>10260</team><id>379019</id><n>298</n><type>goal</type><goal_type>n</goal_type></value></goal>

La información se encuentra registrada en un xml. Hay que normalizar esta tabla, ¿De qué forma?

In [7]:
sinNan.iloc[0]

country_id                                                       1729
league_id                                                        1729
season                                                      2008/2009
stage                                                               1
date                                              2008-08-17 00:00:00
match_api_id                                                   489042
home_team_api_id                                                10260
away_team_api_id                                                10261
home_team_goal                                                      1
away_team_goal                                                      1
home_player_1                                                 30726.0
home_player_2                                                 30362.0
home_player_3                                                 30620.0
home_player_4                                                 30865.0
home_player_5                                                 32569.0
home_player_6                                                 24148.0
home_player_7                                                 34944.0
home_player_8                                                 30373.0
home_player_9                                                 24154.0
home_player_10                                                24157.0
home_player_11                                                30829.0
away_player_1                                                 24224.0
away_player_2                                                 25518.0
away_player_3                                                 24228.0
away_player_4                                                 30929.0
away_player_5                                                 29581.0
away_player_6                                                 38807.0
away_player_7                                                 40565.0
away_player_8                                                 30360.0
away_player_9                                                 33852.0
away_player_10                                                34574.0
away_player_11                                                37799.0
goal                <goal><value><comment>n</comment><stats><goals...
shoton              <shoton><value><stats><blocked>1</blocked></st...
shotoff             <shotoff><value><stats><shotoff>1</shotoff></s...
foulcommit          <foulcommit><value><stats><foulscommitted>1</f...
card                <card><value><comment>y</comment><stats><ycard...
cross               <cross><value><stats><crosses>1</crosses></sta...
corner              <corner><value><stats><corners>1</corners></st...
possession          <possession><value><comment>56</comment><event...
Name: 1728, dtype: object

# Seleccionando Temporada

# Investigación sobre el plantel

In [8]:
# partidos.info()

home_players = [f"home_player_{n}" for n in range (1,12)]
away_players = [f"away_player_{n}" for n in range (1,12)]

In [9]:
partidos_ok = partidos.dropna()
partidos_ok[home_players] = partidos_ok[home_players].astype(int)
partidos_ok[home_players + ["date","home_team_api_id","away_team_api_id"]].head()

C:\Users\nahue\AppData\Local\Temp\ipykernel_20088\1950558000.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  partidos_ok[home_players] = partidos_ok[home_players].astype(int)

,home_player_1,home_player_2,home_player_3,home_player_4,home_player_5,home_player_6,home_player_7,home_player_8,home_player_9,home_player_10,home_player_11,date,home_team_api_id,away_team_api_id
1728,30726,30362,30620,30865,32569,24148,34944,30373,24154,24157,30829,2008-08-17 00:00:00,10260,10261
1729,23686,26111,38835,30986,31291,31013,30935,39297,26181,30960,36410,2008-08-16 00:00:00,9825,8659
1730,32562,38836,24446,24408,36786,38802,24655,17866,30352,23927,24410,2008-08-16 00:00:00,8472,8650
1731,36374,30966,23818,37277,30687,36394,37169,24223,24773,34543,23139,2008-08-16 00:00:00,8654,8528
1733,31465,30371,24004,33086,30857,24011,109058,23268,24846,24006,24160,2008-08-16 00:00:00,8668,8655

Pruebo armar un plantel
Equipo, jugadores y Fecha
Estraegia:
    Separar los visitantes de los locales

In [10]:
partidos_ok.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13325 entries, 1728 to 25948
Data columns (total 40 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   country_id        13325 non-null  int64
 1   league_id         13325 non-null  int64
 2   season            13325 non-null  object
 3   stage             13325 non-null  int64
 4   date              13325 non-null  object
 5   match_api_id      13325 non-null  int64
 6   home_team_api_id  13325 non-null  int64
 7   away_team_api_id  13325 non-null  int64
 8   home_team_goal    13325 non-null  int64
 9   away_team_goal    13325 non-null  int64
 10  home_player_1     13325 non-null  int64
 11  home_player_2     13325 non-null  int64
 12  home_player_3     13325 non-null  int64
 13  home_player_4     13325 non-null  int64
 14  home_player_5     13325 non-null  int64
 15  home_player_6     13325 non-null  int64
 16  home_player_7     13325 non-null  int64
 17  home_player_8     13325 non-null  int64
 18  home_player_9     13325 non-null  int64
 19  home_player_10    13325 non-null  int64
 20  home_player_11    13325 non-null  int64
 21  away_player_1     13325 non-null  float64
 22  away_player_2     13325 non-null  float64
 23  away_player_3     13325 non-null  float64
 24  away_player_4     13325 non-null  float64
 25  away_player_5     13325 non-null  float64
 26  away_player_6     13325 non-null  float64
 27  away_player_7     13325 non-null  float64
 28  away_player_8     13325 non-null  float64
 29  away_player_9     13325 non-null  float64
 30  away_player_10    13325 non-null  float64
 31  away_player_11    13325 non-null  float64
 32  goal              13325 non-null  object
 33  shoton            13325 non-null  object
 34  shotoff           13325 non-null  object
 35  foulcommit        13325 non-null  object
 36  card              13325 non-null  object
 37  cross             13325 non-null  object
 38  corner            13325 non-null  object
 39  possession        13325 non-null  object
dtypes: float64(11), int64(19), object(10)
memory usage: 4.2+ MB

In [11]:
# listo los equipos
equipos_id = equipos["team_api_id"].to_numpy()

In [12]:
# selecciono los partidos, sólo de temporada 2015
partidos_2015 = partidos_ok[partidos_ok["season"] == "2015/2016"]

# agrupo partidos temporada 2015 por equipo
partidos_2015_por_equipo = partidos_2015[home_players + ["home_team_api_id"]].groupby("home_team_api_id")

# ayudita para acceder a los partidos de cada equipo
partidos_2015_por_equipo = {equipos: group for equipos, group in partidos_2015_por_equipo}

equipos_jugaron_2015 = np.unique(partidos_2015["home_team_api_id"].to_numpy())

equipos_jugaron_2015

array([  6391,   6413,   7788,   7794,   7819,   7878,   7896,   7943,
         8121,   8177,   8178,   8197,   8226,   8234,   8262,   8277,
         8302,   8305,   8306,   8315,   8370,   8372,   8406,   8455,
         8456,   8464,   8466,   8472,   8524,   8525,   8526,   8533,
         8534,   8535,   8540,   8543,   8558,   8560,   8564,   8581,
         8586,   8592,   8593,   8600,   8603,   8611,   8633,   8634,
         8636,   8639,   8640,   8650,   8654,   8659,   8668,   8674,
         8678,   8686,   8689,   8697,   8721,   8722,   9747,   9748,
         9783,   9788,   9789,   9790,   9791,   9803,   9804,   9810,
         9817,   9823,   9824,   9825,   9826,   9827,   9829,   9830,
         9831,   9837,   9847,   9850,   9851,   9853,   9857,   9864,
         9869,   9875,   9876,   9882,   9885,   9891,   9904,   9905,
         9906,   9908,   9910,   9931,   9941,   9956,  10003,  10179,
        10189,  10190,  10191,  10192,  10194,  10199,  10205,  10217,
        10218,  10228,  10229,  10233,  10235,  10242,  10243,  10249,
        10252,  10260,  10261,  10267,  10269, 208931])

Observemos la siguiente tablas, veamos que en cada partido, el plantel cambia según la fecha.
Por lo tanto, el plantel está ligada a una fecha, no a una temporada

In [13]:
partidos_2015_por_equipo[6391]

,home_player_1,home_player_2,home_player_3,home_player_4,home_player_5,home_player_6,home_player_7,home_player_8,home_player_9,home_player_10,home_player_11,home_team_api_id
7451,311009,265727,179516,36123,426670,41216,303359,196186,41240,208676,466143,6391
7459,311009,265727,179516,36123,426670,41216,303359,196186,466143,187666,41240,6391
7490,103485,265727,179516,36123,409193,196186,41236,41216,187666,466143,354491,6391
7511,607121,265727,179516,36123,409193,41216,25856,196186,354491,303025,208676,6391
7531,311009,265727,25856,36123,409193,41216,41236,303359,466143,208676,187666,6391
7563,311009,265727,25856,36123,409193,41236,303359,196186,466143,208676,354491,6391
7583,311009,160220,36123,179516,426670,41216,41236,196186,466143,354491,187666,6391
7602,311009,179516,25856,426670,160220,41236,311003,409193,196186,354491,208676,6391
7608,311009,160220,25856,36123,426670,303359,41236,196186,466143,354491,187666,6391
7632,311009,409193,179516,25856,426670,41216,41236,196186,466143,208676,187666,6391
7649,311009,265727,179516,426670,409193,41216,303359,41236,196186,208676,187666,6391
7663,311009,409193,179516,25856,426670,41236,41216,196186,466143,354491,187666,6391
7683,311009,409193,179516,36123,426670,25856,41216,196186,354491,187666,108525,6391
7703,311009,409193,179516,36123,426670,311003,25856,196186,466143,41240,354491,6391
7711,311009,160220,426670,25856,409193,41216,311003,41236,466143,41240,354491,6391
7730,311009,160220,179516,25856,426670,265727,41236,41216,409193,187666,354491,6391
7758,311009,409193,25856,36123,426670,41216,303359,196186,187666,354491,41240,6391
7779,311009,265727,25856,36123,426670,41216,466143,41236,38951,41240,187666,6391
7800,311009,265727,179516,36123,409193,41216,466143,25856,354491,38951,41240,6391

# Sobre las propiedades

In [17]:
jugadores_atributos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183978 entries, 0 to 183977
Data columns (total 24 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   player_api_id       183978 non-null  int64
 1   player_fifa_api_id  183978 non-null  int64
 2   date                183978 non-null  object
 3   overall_rating      183142 non-null  float64
 4   potential           183142 non-null  float64
 5   preferred_foot      183142 non-null  object
 6   crossing            183142 non-null  float64
 7   finishing           183142 non-null  float64
 8   dribbling           183142 non-null  float64
 9   free_kick_accuracy  183142 non-null  float64
 10  ball_control        183142 non-null  float64
 11  acceleration        183142 non-null  float64
 12  sprint_speed        183142 non-null  float64
 13  agility             181265 non-null  float64
 14  reactions           183142 non-null  float64
 15  balance             181265 non-null  float64
 16  shot_power          183142 non-null  float64
 17  jumping             181265 non-null  float64
 18  strength            183142 non-null  float64
 19  aggression          183142 non-null  float64
 20  interceptions       183142 non-null  float64
 21  vision              181265 non-null  float64
 22  penalties           183142 non-null  float64
 23  marking             183142 non-null  float64
dtypes: float64(20), int64(2), object(2)
memory usage: 33.7+ MB