In [122]:
import pandas as pd
import numpy as np
import duckdb

In [123]:
carpeta = "./tablas_finales/"
equipo = pd.read_csv(carpeta+"equipo_españa.csv")
liga = pd.read_csv(carpeta+"liga.csv")
partido = pd.read_csv(carpeta+"partido_españa.csv", parse_dates=["Fecha"])
plantel = pd.read_csv(carpeta+"plantel.csv")
jugador = pd.read_csv(carpeta+"jugador.csv")
atributos = pd.read_csv(carpeta+"atributos.csv", parse_dates=["Fecha"])

In [124]:
# Liga española
liga = 21518

In [125]:
equipo

    Id_Equipo  Id_Liga                     Nombre
0       10267    21518                Valencia CF
1        8661    21518               RCD Mallorca
2        8371    21518                 CA Osasuna
3       10205    21518              Villarreal CF
4        9783    21518  RC Deportivo de La Coruña
5        8633    21518             Real Madrid CF
6        8696    21518           Racing Santander
7        8302    21518                 Sevilla FC
8        9869    21518     Real Sporting de Gijón
9        8305    21518                  Getafe CF
10       8603    21518        Real Betis Balompié
11       8479    21518              RC Recreativo
12       8558    21518               RCD Espanyol
13      10281    21518            Real Valladolid
14       9865    21518                 UD Almería
15       9906    21518            Atlético Madrid
16       9864    21518                  Málaga CF
17       9868    21518       Xerez Club Deportivo
18       8394    21518              Real Zaragoza
19       9867    21518                CD Tenerife
20      10278    21518    Hércules Club de Fútbol
21       7878    21518                 Granada CF
22       8370    21518             Rayo Vallecano
23       9910    21518           RC Celta de Vigo
24      10268    21518                   Elche CF
25       8372    21518                   SD Eibar
26       7869    21518                 Córdoba CF
27       8306    21518              UD Las Palmas
28       8634    21518               FC Barcelona
29       8315    21518    Athletic Club de Bilbao
30       8581    21518                 Levante UD
31       8560    21518              Real Sociedad
32       8388    21518                CD Numancia

In [126]:
partido

,Id_Partido,Fecha,Temporada,Id_Local,Id_Visitante,Resultado,Id_Liga
0,530023,2008-08-30,2008/2009,10267,8661,Ganado,21518
1,530084,2008-08-31,2008/2009,8371,10205,Empate,21518
2,530085,2008-08-31,2008/2009,9783,8633,Ganado,21518
3,530087,2008-08-31,2008/2009,8696,8302,Empate,21518
4,530089,2008-08-31,2008/2009,8603,8479,Perdido,21518
...,...,...,...,...,...,...,...
2701,2030167,2015-10-25,2015/2016,9906,10267,Ganado,21518
2702,2030168,2015-10-24,2015/2016,9864,9783,Ganado,21518
2703,2030169,2015-10-26,2015/2016,8315,9869,Ganado,21518
2704,2030170,2015-10-24,2015/2016,7878,8603,Empate,21518
2705,2030171,2015-10-23,2015/2016,8370,8558,Ganado,21518