In [182]:
import pandas as pd
import numpy as np
import duckdb

In [183]:
carpeta = "./tablas_finales/"
equipo = pd.read_csv(carpeta+"equipo_españa.csv")
liga = pd.read_csv(carpeta+"liga.csv")
partido = pd.read_csv(carpeta+"partido_españa.csv", parse_dates=["Fecha"])
plantel = pd.read_csv(carpeta+"plantel.csv")
jugador = pd.read_csv(carpeta+"jugador.csv")
atributos = pd.read_csv(carpeta+"atributos.csv", parse_dates=["Fecha"])

In [184]:
# Liga española
liga = 21518

In [185]:
equipo

    Id_Equipo  Id_Liga                     Nombre
0       10267    21518                Valencia CF
1        8661    21518               RCD Mallorca
2        8371    21518                 CA Osasuna
3       10205    21518              Villarreal CF
4        9783    21518  RC Deportivo de La Coruña
5        8633    21518             Real Madrid CF
6        8696    21518           Racing Santander
7        8302    21518                 Sevilla FC
8        9869    21518     Real Sporting de Gijón
9        8305    21518                  Getafe CF
10       8603    21518        Real Betis Balompié
11       8479    21518              RC Recreativo
12       8558    21518               RCD Espanyol
13      10281    21518            Real Valladolid
14       9865    21518                 UD Almería
15       9906    21518            Atlético Madrid
16       9864    21518                  Málaga CF
17       9868    21518       Xerez Club Deportivo
18       8394    21518              Real Zaragoza
19       9867    21518                CD Tenerife
20      10278    21518    Hércules Club de Fútbol
21       7878    21518                 Granada CF
22       8370    21518             Rayo Vallecano
23       9910    21518           RC Celta de Vigo
24      10268    21518                   Elche CF
25       8372    21518                   SD Eibar
26       7869    21518                 Córdoba CF
27       8306    21518              UD Las Palmas
28       8634    21518               FC Barcelona
29       8315    21518    Athletic Club de Bilbao
30       8581    21518                 Levante UD
31       8560    21518              Real Sociedad
32       8388    21518                CD Numancia

¿cuales son los jugadores que más partido ganó su equipo?

In [186]:
partidos_ganados_local = partido[partido["Resultado"] == "Ganado"].drop("Resultado", axis=1)
ganados_por_locales = partidos_ganados_local["Id_Local"].value_counts()

In [187]:
partidos_ganados_visitante = partido[partido["Resultado"] != "Ganado"].drop("Resultado", axis=1)
ganados_por_visitante = partidos_ganados_visitante["Id_Visitante"].value_counts()
type(ganados_por_visitante)

pandas.core.series.Series

In [188]:
ganados_por_equipo = ganados_por_locales + ganados_por_visitante
equipo_mas_victorias = ganados_por_equipo.idxmax()
print(equipo_mas_victorias)

8634

In [189]:
jugador.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11060 entries, 0 to 11059
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Id_Jugador  11060 non-null  int64
 1   Nombre      11060 non-null  object
 2   Altura      11060 non-null  float64
 3   Peso        11060 non-null  int64
dtypes: float64(1), int64(2), object(1)
memory usage: 345.8+ KB

In [199]:
plantel_mas_victorias = plantel[plantel["Id_Equipo"] == equipo_mas_victorias]
plantel_mas_victorias.count()

Id_Jugador    179
Id_Equipo     179
Temporada     179
dtype: int64

In [200]:
jugadores_plantel_mas_victorias_por_temporada = pd.merge(jugador, plantel_mas_victorias, how="inner", on="Id_Jugador")
jugadores_plantel_mas_victorias = jugadores_plantel_mas_victorias_por_temporada["Id_Jugador"].drop_duplicates()
jugadores_plantel_mas_victorias

0       33992
6      189192
7       26169
8       23678
10      50047
13      30955
21     172948
23      39792
24      96643
26      30661
32      30613
35      37421
37     213704
40      33988
48      30909
51     172116
52      33074
53      30738
58      30891
60      37482
68      26434
70     213702
71      25773
73      38818
79     154259
81      26403
83     189101
86     150739
90     213684
91      33732
95      30981
103     40636
105    195305
110    184554
111     96616
112    213688
117     34304
120    522579
122     19533
125    150250
132     30740
134    242469
136     33639
137    477615
138    212472
143    154257
151     26146
155    172949
158     30626
160     26005
162    107930
163     32657
169     39854
176     36615
178     35724
Name: Id_Jugador, dtype: int64